.header{
background-color: #000080;
display:flex;
 justify-content: space-between;
    
        }

  .grid{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }      

p,h2{
    background-color: #4D0000;
    text-align: center;
}
